<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootrtrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/facebook.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/instagram.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/twitter.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/youtube.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-items">
              <p class="left_items-age item-all">Age:</p>
              <span><%=user.age%></span>
            </div>
            <div class="left_2-items">
              <p class="left_items-residence item-all">Residence:</p>
              <span><%=user.residence%></span>
            </div>
            <div class="left_2-items">
              <p class="left_2-freelance item-all">Freelance:</p>
              <span class="left_2-items-ava">Available</span>
            </div>
            <div class="left_2-items">
              <p class="lft_2-adress item-all">Adress:</p>
              <span><%=user.adress%></span>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <span class="languages">Languages</span>
            <div class="left_3-items">
              <span><%=user.languages[0]%></span>
              <p>100%</p>
            </div>
            <div class="bor"></div>
            <div class="left_3-items">
              <span><%=user.languages[1]%></span>
              <p>80%</p>
            </div>
            <div class="bor evs"></div>
            <div class="left_3-items">
              <span><%=user.languages[2]%></span>
              <p>60%</p>
            </div>
            <div class="bor eva"></div>
            <div class="left_3-items"></div>
            <div class="left_3-items"></div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <span class="languages">Skils</span>
            <div class="left_3-items">
              <span><%=user.skills[0]%></span>
              <p>90%</p>
            </div>
            <div class="bor one"></div>
            <div class="left_3-items">
              <span><%=user.skills[1]%></span>
              <p>85%</p>
            </div>
            <div class="bor two"></div>
            <div class="left_3-items">
              <span><%=user.skills[2]%></span>
              <p>80%</p>
            </div>
            <div class="bor three"></div>
            <div class="left_3-items">
              <span><%=user.skills[3]%></span>
              <p>75%</p>
            </div>
            <div class="bor third"></div>
            <div class="left_3-items">
              <span><%=user.skills[4]%></span>
              <p>85%</p>
            </div>
            <div class="bor five"></div>
            <div class="left_3-items"></div>
            <div class="left_3-items"></div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <span class="languages">Extra Skills</span>
            <div class="left_5-items">
              <div class="left_5-item">
                <img src="icon/icons.svg" />
                <span><%=user.extra_skills[0]%></span>
              </div>
              <div class="left_5-item">
                <img src="icon/icons.svg" />
                <span><%=user.extra_skills[1]%></span>
              </div>
              <div class="left_5-item">
                <img src="icon/icons.svg" />
                <span><%=user.extra_skills[2]%></span>
              </div>
              <div class="left_5-item">
                <img src="icon/icons.svg" />
                <span><%=user.extra_skills[3]%></span>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="mid_frame-top">
            <div class="frame-top-items">
              <div class="frame-top-item1">
                <div class="top-item1-title">
                  <h1>
                    Doctor neurologists <br />
                    in OHSU Hospital
                  </h1>
                </div>
                <div class="top-item1-desc">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                    volutpat feugiat placerat lobortis. Natoque rutrum semper
                    sed suspendisse nunc lectus.
                  </p>
                </div>
                <button class="btn">hire me</button>
              </div>
              <div class="frame-top-item2">
                <img src="images/hero.png" />
              </div>
            </div>
          </div>
          <div class="mid_frame-bottom">
            <div class="bottom-item">
              <div class="frame-bottom-top">
                <h3>my services</h3>
                <p>
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                  lorem ipsum
                </p>
              </div>
            </div>
            <div class="frame-bottom-bot">
              <div class="bottom_bot-cards">
                <div class="bottom_bot-card">
                  <img src="icon/coding.svg" />
                  <p>web development</p>
                  <span>blog, e-commerce</span>
                </div>
                <div class="bottom_bot-card">
                  <img src="icon/illustration.svg" />
                  <p>uI/uX design</p>
                  <span>Mobile app, Website design</span>
                </div>
                <div class="bottom_bot-card">
                  <img src="icon/microphone.svg" />
                  <p>sound design</p>
                  <span>Voice Over, Beat Making</span>
                </div>
                <div class="bottom_bot-card">
                  <img src="icon/game.svg" />
                  <p>game design</p>
                  <span>Character Design, Props & Objects</span>
                </div>
                <div class="bottom_bot-card">
                  <img src="icon/camera.png" />
                  <p>photography</p>
                  <span>Portrait, Product Photography</span>
                </div>
                <div class="bottom_bot-card bot-card">
                  <p>advertising</p>
                  <span
                    >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vitae nulla diam in ac dictum a urna viverra morbi.
                  </span>
                  <a href="#">order now ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="right_frame-items">
            <div class="right_frame-item">
              <div class="frame-item1">
                <img src="icon/contrast.svg" />
              </div>
              <div class="frame-item2">
                <div class="item2-pos">home</div>
                <div class="item2-pos2"></div>
                <img src="icon/home.svg" / class="home-bg">
                <img src="icon/services.svg" />
                <img src="icon/cv.svg" />
                <img src="icon/portfolio.svg" />
                <img src="icon/blog.svg" />
                <img src="icon/contact.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
